  body {
    background-color: #fff0f5;
  }
  hr{
    background-color: #fff0f5;
    border-style: none;
    border-top-style: dotted;
    border-color: black;
    border-width: 5px;
    width: 200px;
  }
  h1 {
    color: #ff0000; font-size: 30px;
  }
  h3 {
    color: #0000ff; font-size: 15px;
  }
img{
  height: 200px;
}
.codin{
  display: inline;

}
